<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<div id="yy"  uu="fff"><a>ffff</a></div>

<script src="../js/swz2.js"></script>
<script type="text/javascript">
    //$("#yy").attr("uuu","7777")
    var uu = "<em>ggggggggggg</em>";
    //$("#yy").append(uu)
   console.log($.parseHTML(uu))
   // $("#yy").prepend(uu);
   // console.log()
  //  console.log( $("#yy").selectName)

    $("#yy").prepend(uu);
    var dd = {
        "color":"red",
        "font-size":"50px"
    }
    $("#yy").css(dd);

</script>
</body>
</html>